a {
  text-decoration: none!important
}
p {
  margin: 0%
}
.nick {
  margin-bottom: 3%!important;
  font-size: 92px!important;
}
.not-interact {
  background-clip: text;
  -webkit-background-clip: text;
  color: #5e5e5e!important;
  mix-blend-mode: difference;
  text-shadow: 0 0 5px rgba(84,84,84,.6);
  margin-bottom: 1%
}
.negro {
  background-clip: text;
  -webkit-background-clip: text;
  color: #5e5e5e!important;
  mix-blend-mode: difference;
  filter: drop-shadow(3px 3px 5px #000);
  transition: .4s
}
.negro:hover {
  color: #b5000c!important;
  mix-blend-mode: overlay;
  filter: drop-shadow(3px 3px 5px #000);
  transform: scale(2%)!important
}
body {
  background: url(https://i.pinimg.com/originals/fd/b2/1c/fdb21c0e4f3dbb6ccd9a63c68fce8645.gif) center/cover no-repeat fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 1000!important;
  background-color: #aaa;
  background-blend-mode: difference;
  padding-left: 100px;
  padding-top: 50px;
  overflow-x: hidden;
  margin-top: 0%
}

@media (orientation: portrait) {
  .not-interact,
  .negro,
  .nick {
    margin-bottom: 3%;
    font-size: calc(3vw + 3vh);
    max-width: 90%;
    transition: .4s;
    filter: none;
    color: transparent;
    text-shadow: 0 0 5px rgba(84,84,84,.6);
  }  
  .nick {
    font-size: calc(3vw + 5vh)!important;
  }
  .not-interact {
    font-size: calc(3vw + 4vh);
  }
  body {
    text-align: center!important;
    padding-left: 10px;
    padding-right: 40px;
  }
}
